.row
  #content.span7.well
    %p.header
      %a{:href => "/cv.pdf"} Curriculum Vitae
    %h2 Bio
    %p
      I graduated from Georgia Tech with a bachelor's degree in Computer Science, and am presently pursuing a Ph.D. in Human-Computer Interaction at Carnegie Mellon University. Broadly, my research interests are in applying machine learning and data science to usable privacy and security.
    %p
      I'm also interested in writing, travel, and playing sports. At Georgia Tech, I spent a year studying abroad in Singapore and spent a good portion of that time traveling across south east Asia. I was also part of the team that won the Gold Medal in Tennis at the Nanyang Technological University International Games. The following year, I worked for a company in Japan as a 3D modeler and animator. While there, I picked up a fair bit of Japanese
      (JLPT level 2), and learned my way around 3D Studio Max, Photoshop, Illustrator and After Effects. Oh, I've also been writing a fantasy novel for the past couple of years -- expect that soon (I hope)!
    %br/
    %h3 TL;DR summary
    Sauvik Das is a:
    %ul
      %li
        %a{:href => "/search/index?query=Research"} Researcher
      %li
        %a{:href => "/search/index?query=Program"} Programmer
      %li
        %a{:href => "/search/index?query=Writing"} Writer
      %li
        %a{:href => "/search/index?query=Travel"} Traveler
    %br/
    %h3 About This Site
    This site was mostly built to showcase my completed projects and works-in-progress. Nevertheless, I occasionally use it to state my opinions on something, write tutorials or otherwise relay information that most people probably won't care about =).
  #photo.span4.well
    %img{:src => "../../img/me-korea.jpg"}/
    %span.caption
      Me in a hostel in Korea, December 2009.
