- conference_papers = @papers.select { |paper| paper.papertype == "1" }
- journal_papers = @papers.select { |paper| paper.papertype == "2" }
- workshop_papers = @papers.select { |paper| paper.papertype == "3" }
- if journal_papers.length > 0
  %h2 Journal Papers
  %table.table.table-striped
    %tbody
      = render partial: 'paper_table', collection: journal_papers, as: :paper
- if conference_papers.length > 0
  %h2 Conference Papers
  %table.table.table-striped
    %tbody
      = render partial: 'paper_table', collection: conference_papers, as: :paper
- if workshop_papers.length > 0
  %h2 Workshop Papers
  %table.table.table-striped
    %tbody
      = render partial: 'paper_table', collection: workshop_papers, as: :paper
